body {
    background-color: #FFFAE8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw
}

p {
    max-width: calc(min(500px, 80%));
}

.header {
    position: fixed;
    top: 20px;
    left: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 700px) {
        position: relative;
        width: calc(100vw - 20px);
        padding-bottom: 40px;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: larger;

    @media (max-width: 700px) {
        flex-direction: row;
    }
}

nav a {
    color: blue;
    width: fit-content;
}

.socials a {
    color: blue;
    width: fit-content;

    @media (max-width: 700px) {
        display: none;
    }
}

a.active,
a:hover {
    font-style: italic;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 20px;

    display: flex;
    flex-direction: column;
    z-index: 0;

    gap: 15px;

    @media (max-width: 700px) {
        position: relative;
        width: calc(100vw - 20px);
        padding-top: 60px;
    }
}

.bottle {
    max-width: 300px;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    padding-inline: 0;
    margin-inline: 0;
    max-width: calc(min(500px, 80%));
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

li a:hover {
    font-style: italic;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
    padding: 0;
    margin: 0;

    @media (max-width: 700px) {
        font-size: 2rem;
    }
}

.keywords {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: end;
}

.keyword {
    font-family: monospace;
    font-size: smaller;
}


li a:hover .work-image {
    transform: scale(2.5);
}

.work-image {
    max-width: 100px;

    @media (max-width: 700px) {
        max-width: 75px;
    }
}